@font-face {
    font-family: dumbledore;
    src: url('./images/dum1.ttf'); 
}

body 
{
/*background-image:url('31.jpg');
 margin: 0px;
    padding: 0px;
    text-align: center;*/
}

#returnButton {
    text-align: center;
    position: relative;
}


#parent {
    text-align:center;
}

#rules {
  display:inline-block;
  text-align:center;
  position: relative;
  font-size: small;

}

