 @font-face {
    font-family:'dumbledore';
    src: url('./images/dum1.ttf');
	}	
	body {
	background-image: url('./images/old_paper_background.jpg');
    background-repeat: repeat;
    color: rgb(153,153,153);
    font-family: 'dumbledore';
	font-size:100%;
	margin: 0;
	padding: 0;
	min-width:1150px;
	}
	header {
	height: 1.2em;
	background-image: url('./images/wood.jpg');
    background-repeat: repeat;
    border-style:solid;
    border-color: lightgray;
    color: white; 
    font-size:2.5em;
    display:block;
    padding:0.3em;
    }
    header img {
    float:left;
    max-height:1.2em;
    margin:auto;
    display:block;
    }
    header div {
    float:right;
    }
    #left {
    background-image: url('./images/wood.jpg');
    background-repeat: repeat;
  	border-style:none solid; /*top/bottom none left/right solid*/
   	border-color: lightgray;
   	color: white;
    float:left; 
    width:19%;
    min-width:220px;
    }
    #right {
    float:right; 
    width:80%;
    }
    .left_panel {
	border-bottom-style:solid;
    border-color: lightgray;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    }
  	#user {
   	font-size:2em;
	}
	#selectedGame_static {
    font-size: 1.5em;
    text-align: center;
	}
	#gameStatus {
    font-size: 1.5em;
    margin-top: 20px;
	}
	#joinGame {
    margin-top: 20px;
	}
	#new_game {
	font-size:1.5em;
	}
	#AIs {
    display: inline;
	}
	input {
    font-family:'dumbledore';
    color:rgb(70,70,70);
    border:2px solid #ccc;
    font-size:30px;
    width:160px;
    min-height:16px;
    display:block;
    margin-bottom:5px;
    margin-top:8px;
    margin-left:auto;
    margin-right:auto;
    outline: none;
    
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
	}
	#gameTable {
	margin-top: 10px;	
	}
	
